<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    {# Javascript Libraries #}
    {% javascripts

    'js/tether.min.js'
    'js/bootstrap.min.js'
    'js/jquery.lazyload.js'
    'js/jquery.slick.min.js'
    'js/jquery.gsap.min.js'
    'js/TweenMax.min.js'
    'js/TweenMax.min.js'
    'js/TimelineMax.min.js'
    'js/TweenMax.min.js'

    'js/scroll-banner.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
</html>
